@use '@assets/styles/_main.sass' as *;
@use '@assets/styles/_mixins.scss' as *;
@use '@assets/styles/_variables.scss' as *;

.wrap {
	padding-top: rem(60);
	@media (max-width: $pc) {
		padding-top: rem(40);
	}
}
.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation {
	display: flex;
	align-items: center;
	gap: rem(10);
}
.title {
	font-size: rem(20);
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	@media (max-width: $pc) {
		font-size: rem(18);
	}
	@media (max-width: $mobile) {
		font-size: rem(16);
	}
}
