@use '@assets/styles/_main.sass' as *;
@use '@assets/styles/_mixins.scss' as *;
@use '@assets/styles/_variables.scss' as *;

.user {
	display: flex;
	align-items: center;
	gap: rem(10);
}
.avatar {
	@include ibg;
	@include box-shadow($boxShadowColor);
	width: rem(48);
	height: rem(48);
	border-radius: 3px;
	background-color: $greyColor;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name {
	font-family: $fontFamily;
	font-size: rem(13);
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	color: $boxShadowColor;
}
.button {
	display: flex;
	color: $boxShadowColor;
	transition: all 0.3s ease 0s;
	&.open {
		transform: rotate(180deg);
		transition: all 0.3s ease 0s;
	}
}
.content {
	display: flex;
	align-items: center;
	gap: rem(5);
	position: relative;
}
.dropdown {
	@include box-shadow($boxShadowColor);
	display: flex;
	flex-direction: column;
	gap: rem(5);
	position: absolute;
	width: 100%;
	min-width: rem(110);
	top: 100%;
	left: 0;
	margin-top: rem(10);
	background-color: $whiteColor;
	z-index: 2;
	padding: 10px 5px;
	border-radius: 6px;
}
.link {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	color: $boxShadowColor;
}
