@use '@assets/styles/_main.sass' as *;
@use '@assets/styles/_mixins.scss' as *;
@use '@assets/styles/_variables.scss' as *;

.user {
	display: flex;
	align-items: center;
	gap: rem(10);
	@media (max-width: $mobile) {
		gap: rem(5);
	}
}
.avatar {
	@include ibg;
	@include box-shadow($boxShadowColor);
	width: rem(48);
	height: rem(48);
	border-radius: 3px;
	background-color: $greyColor;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: $pc) {
		width: rem(40);
		height: rem(40);
	}
	@media (max-width: $mobile) {
		width: rem(36);
		height: rem(36);
		& svg {
			width: rem(20);
			height: rem(20);
		}
	}
}
.name {
	font-family: $fontFamily;
	font-size: rem(13);
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	color: $boxShadowColor;
	@media (max-width: $mobile) {
		display: none;
	}
}
.button {
	display: flex;
	color: $boxShadowColor;
	transition: all 0.3s ease 0s;
	&.open {
		transform: rotate(180deg);
		transition: all 0.3s ease 0s;
	}
}
.content {
	display: flex;
	align-items: center;
	gap: rem(5);
	position: relative;
}
.dropdown {
	@include box-shadow($boxShadowColor);
	display: flex;
	flex-direction: column;
	gap: rem(5);
	position: absolute;
	width: 100%;
	min-width: rem(110);
	top: 100%;
	left: 0;
	margin-top: rem(10);
	background-color: $whiteColor;
	z-index: 2;
	padding: 10px 5px;
	border-radius: 6px;
	@media (max-width: $mobile) {
		top: calc(100% + 10px);
		left: auto;
		right: 0;
	}
}
.link {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	color: $boxShadowColor;
}
