@use '@assets/styles/_main.sass' as *;
@use '@assets/styles/_mixins.scss' as *;
@use '@assets/styles/_variables.scss' as *;

.user {
	display: flex;
	align-items: center;
	gap: rem(5);
}
.avatar {
	@include ibg;
	@include box-shadow($boxShadowColor);
	width: rem(48);
	height: rem(48);
	border-radius: 3px;
	background-color: $greyColor;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name {
	font-family: $fontFamily;
	font-size: rem(13);
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	color: $boxShadowColor;
}
.links {
	display: flex;
	align-items: center;
	gap: rem(5);
}
