@use '@assets/styles/_main.sass' as *;
@use '@assets/styles/_mixins.scss' as *;
@use '@assets/styles/_variables.scss' as *;
@use '@assets/styles/global.module.scss' as *;

.card {
	display: flex;
	gap: rem(20);
}
.content {
	flex: 1 1 auto;
}
.wrap {
	background-color: $greyColor;
	border-radius: rem(12);
	padding: rem(30) rem(15);
}
.image {
	@include ibg;
	border-radius: rem(12);
	overflow: hidden;
	padding-bottom: percent(500, 1000);
	margin-top: rem(20);
}
.info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(20);
	padding-top: rem(30);
}
.item {
	display: flex;
	align-items: center;
	gap: rem(5);
	font-size: rem(14);
	font-weight: 500;
}
.sidebar {
	display: flex;
	flex-direction: column;
	gap: rem(20);
	flex: 0 0 rem(320);
}
.block {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	background-color: $greyColor;
	padding: 15px;
	border-radius: 6px;
}
.line {
	display: flex;
	gap: rem(10);
}
.list {
	display: flex;
	flex-direction: column;
	gap: rem(10);
}
.avatar {
	@include ibg;
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 6px;
}
.total {
	@extend .h6;
}
.links {
	display: flex;
	gap: rem(10);
}
.inner {
	display: flex;
	flex-direction: column;
	gap: rem(10);
}
.link {
	@extend .h5;
	display: flex;
	justify-content: center;
	flex: 0 1 33.333%;
	background-color: $greyColor;
	padding: rem(10);
	border-radius: 6px;
}
.follow {
	@include button($fz: 10px);
}
