@use '@assets/styles/_variables.scss' as *;
@use '@assets/styles/global.module.scss' as *;

.card {
	display: flex;
	gap: 15px;
	padding: 10px;
	box-shadow: 0 0 5px #898989;
	// border: 1px solid $boxShadowColor;
	border-radius: 6px;
}

.image {
	border-radius: 6px;
	overflow: hidden;
	flex: 0 0 100px;
	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.name {
	@extend .h5;
}

.total {
	@extend .h6;
}
