@use '/src/assets/styles/global.module.scss' as *;
@use '/src/assets/styles/variables' as *;

.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.info {
	@extend .h5;
	color: $boxShadowColor;
}
