@use '/src/assets/styles/_mixins.scss' as *;
@use '/src//assets/styles/variables' as *;
@use '@assets/styles/_main.sass' as *;

.top {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: $greyColor;
	border-radius: 12px;
	padding: 30px;
	@media (max-width: $tablet) {
		padding: rem(20);
	}
	@media (max-width: $mobileSmall) {
		padding: rem(20) rem(10);
	}
}
.banner {
	@include ibg;
	background-color: $greenColor;
	border-radius: 6px;
	overflow: hidden;
	padding-bottom: percent(400, 1240);
	// height: 400px;
	// & img {
	// 	width: 100%;
	// 	height: 100%;
	// 	object-fit: cover;
	// }
}
.avatar {
	display: flex;
	align-items: center;
	gap: 10px;
}

.image {
	width: 75px;
	height: 75px;
	flex: 0 0 75px;
	border-radius: 12px;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@media (max-width: $pc) {
		width: rem(60);
		height: rem(60);
		flex: 0 0 rem(60);
	}
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	@media (max-width: $mobile) {
		flex-direction: column;
	}
}
.line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(20);
	@media (max-width: $mobile) {
		width: 100%;
	}
}
.block {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.name {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.email {
	font-size: 14px;
	color: $boxShadowColor;
}
.edit {
	@include button(transparent, $redColor, 12px);
	display: flex;
	align-items: center;
	gap: 5px;
	@media (max-width: $mobile) {
		display: none;
	}
}
.editMob {
	@include button(transparent, $redColor, 12px);
	display: flex;
	align-items: center;
	gap: 5px;
	@media (min-width: $mobile) {
		display: none;
	}
}
.menu {
	display: flex;
	align-items: center;
	gap: 15px;
}
.link {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
.content {
	padding-top: rem(40);
	@media (max-width: $mobile) {
		padding-top: rem(20);
	}
}
.list {
	@include listGrid;
	// display: grid;
	// grid-template-columns: repeat(4, 1fr);
	// gap: 20px;
	// @media (max-width: $tablet) {
	// 	grid-template-columns: repeat(3, 1fr);
	// 	gap: 10px;
	// }
	// @media (max-width: rem(650)) {
	// 	grid-template-columns: repeat(2, 1fr);
	// }
	// @media (max-width: rem(520)) {
	// 	grid-template-columns: repeat(1, 1fr);
	// }
}
