@use '@assets/styles/_variables.scss' as *;
@use '/src/assets/styles/mixins' as *;

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.form {
	@include box-shadow();
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 0 1 300px;
	border-radius: 6px;
	padding: 20px;
	background-color: $whiteColor;
	& h1 {
		text-align: center;
	}
}
.link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	color: $boxShadowColor;
	font-size: 12px;
	& a {
		text-transform: uppercase;
		border-bottom: 1px solid;
	}
}
